{
		"log": {
				"disabled": false,
				"level": "info",
		    		"output": "box.log",
				"timestamp": true
		},
		"dns": {
				"servers": [
						{
							"tag": "Cloudflare",
							"address": "https://dns.cloudflare.com/dns-query",
							"address_resolver": "CF",
							"strategy": "prefer_ipv4",
							"detour": "Proxy"
						},
						{
							"tag": "dnspod",
							"address": "https://1.12.12.12/dns-query",
							"detour": "Direct"
						},
						//{
						//	"tag": "dns_direct",
						//	"address": "https://1.12.12.12/dns-query",
						//	"strategy": "prefer_ipv6",
						//	"detour": "Direct"
						//},
						{
							"tag": "CF",
							"address": "1.1.1.1"
						},
						{
							"tag": "fakedns",
							"address": "fakeip"
						}
				],
				"rules": [
						{
							 "outbound": "any",
							 "server": "dnspod",
							 "disable_cache": true
						},
						{
							"query_type": [
								"A",
								"AAAA"
							],
							"server": "fakedns"
						}
				],
				"fakeip": {
						"enabled": true,
						"inet4_range": "198.18.0.0/15",
						"inet6_range": "fc00::/18"
				},
				"independent_cache": true,
				//"strategy": "ipv4_only"
		},
		"inbounds": [
		{
				"type": "tun",
				"tag": "SingBox",
				"interface_name": "SingBox",
				"mtu": 1480
				"inet4_address": "172.19.0.1/30",
				"inet6_address": "fdfe:dcba:9876::1/126",
				"auto_route": true,
				"strict_route": false,
				"stack": "system",
				"sniff": false
		}
		],
	"proxyproviders": [
		{
			"tag": "Kuromis",
			"url": "",
			"cache_file": "./proxy_providers/Kuromis.cache",
			//"force_update": "24h",
			"tag_format": "[Kuromis]%s",
			"filter": {
				"rule": [
					"GB",
					"Traffic Reset",
					"Expire Date",
					"Premium"
				],
				"white_mode": false
			},

			"custom_group": [
				{
					"tag": "Kuromis·HK",
					"type": "selector",
					"rule": [ "Hong Kong" ],
					"white_mode": true
				},
				{
					"tag": "Kuromis·TW",
					"type": "selector",
					"rule": [ "Taiwan" ],
					"white_mode": true
				},
				{
					"tag": "Kuromis·Singapore",
					"type": "selector",
					"rule": [ "Singapore" ],
					"white_mode": true
				},
				{
					"tag": "Kuromis·JP",
					"type": "selector",
					"rule": [ "Japan" ],
					"white_mode": true
				},
				{
					"tag": "Kuromis·US",
					"type": "selector",
					"rule": [
						"United States",
						"USA"
					],
					"white_mode": true
				}
			]
		},
		{
			"tag": "Nexitally",
			"url": "",
			"cache_file": "./proxy_providers/Nexitally.cache",
			//"force_update": "24h",
			"tag_format": "[Nexitally]%s",
			"filter": {
				"rule": [
					"GB",
					"Traffic Reset",
					"Expire Date",
					"Premium"
				],
				"white_mode": false
			},

			"custom_group": [
				{
					"tag": "Nexitally·HK",
					"type": "selector",
					"rule": [ "Hong Kong" ],
					"white_mode": true
				},
				{
					"tag": "Nexitally·TW",
					"type": "selector",
					"rule": [ "Taiwan" ],
					"white_mode": true
				},
				{
					"tag": "Nexitally·Singapore",
					"type": "selector",
					"rule": [ "Singapore" ],
					"white_mode": true
				},
				{
					"tag": "Nexitally·JP",
					"type": "selector",
					"rule": [ "Japan" ],
					"white_mode": true
				},
				{
					"tag": "Nexitally·US",
					"type": "selector",
					"rule": [
						"United States",
						"USA"
					],
					"white_mode": true
				}
			]
		},
		{
			"tag": "Paoluz",
			"url": "",
			"cache_file": "./proxy_providers/Paoluz.cache",
			//"force_update": "24h",
			"custom_group": [
				{
					"tag": "Paoluz·HK",
					"type": "selector",
					"rule": [ "香港" ],
					"white_mode": true
				},
				{
					"tag": "Paoluz·TW",
					"type": "selector",
					"rule": [ "台湾" ],
					"white_mode": true
				},
				{
					"tag": "Paoluz·Singapore",
					"type": "selector",
					"rule": [ "新加坡" ],
					"white_mode": true
				},
				{
					"tag": "Paoluz·JP",
					"type": "selector",
					"rule": [ "日本" ],
					"white_mode": true
				},
				{
					"tag": "Paoluz·US",
					"type": "selector",
					"rule": [ "美国" ],
					"white_mode": true
				}
			]
		}
	],
		"outbounds": [
				{
						"tag": "Proxy",
						"type": "selector",
						"outbounds": [
							"Kuromis·HK",
							"Nexitally·HK",
							"Paoluz·HK",
							"Kuromis·TW",
							"Nexitally·TW",
							"Paoluz·TW",
							"Kuromis·Singapore",
							"Nexitally·Singapore",
							"Paoluz·Singapore",
							"Kuromis·JP",
							"Nexitally·JP",
							"Paoluz·JP",
							"Kuromis·US",
							"Nexitally·US",
							"Paoluz·US",
							"自建"
					]
				},
				{
						"tag": "YouTube",
						"type": "selector",
						"outbounds": [
						 "Proxy",
						 "Kuromis·HK",
						 "Nexitally·HK",
						 "Paoluz·HK",
						 "Kuromis·TW",
						 "Nexitally·TW",
						 "Paoluz·TW",
						 "Kuromis·Singapore",
						 "Nexitally·Singapore",
						 "Paoluz·Singapore",
						 "Kuromis·JP",
						 "Nexitally·JP",
						 "Paoluz·JP",
						 "Kuromis·US",
						 "Nexitally·US",
						 "Paoluz·US"
				 ]
				},
				{
						"tag": "Netflix",
						"type": "selector",
						"outbounds": [
							"Kuromis·Singapore",
							"Nexitally·Singapore",
							"Paoluz·Singapore",
							"Kuromis·JP",
							"Nexitally·JP",
							"Paoluz·JP",
							"Kuromis·US",
							"Nexitally·US",
							"Paoluz·US",
							"自建"
					]
				},
				{
						"tag": "BiliBili",
						"type": "selector",
						"outbounds": [
							"Kuromis·TW",
							"Nexitally·TW",
							"Paoluz·TW",
							"Paoluz",
							"自建",
							"Direct"
					]
				},
				{
					"tag": "Bahamut",
					"type": "selector",
					"outbounds": [
						"Kuromis·TW",
						"Nexitally·TW",
						"Paoluz·TW",
						"自建"
					]
				},
				{
						"tag": "ChatGPT",
						"type": "selector",
						"outbounds": [
							"Kuromis·US",
							"Nexitally·US",
							"Paoluz·US"
					]
				},
				{
						"tag": "Steam",
						"type": "selector",
						"outbounds": [
								"Proxy",
								"Paoluz",
								"Direct"
						]
				},
				{
					"tag": "自建",
					"type": "selector",
					"outbounds": [
						"SG"
					]    
				},
				{
					"type": "shadowsocks",
					"tag": "SG",
					"server": "myss.shiyuu.moe",
					"method": "2022-blake3-aes-256-gcm",
					"server_port": 45395,
					"password": "XFgLGZSvIdixXBDl3/hgZ/xXsQNE9BwTdBWDi4w5MpU="
				},
				{
						"type": "direct",
						"tag": "Direct"
				},
				{
						"type": "block",
						"tag": "Block"
				},
				{
						"type": "dns",
						"tag": "Dns-out"
				}
		],
		"route": {
				"geoip": {
						"path": "geoip.db",
						"download_url": "https://github.com/lyc8503/sing-box-rules/releases/latest/download/geoip.db",
						"download_detour": "Proxy"
				},
				"geosite": {
						"path": "geosite.db",
						"download_url": "https://github.com/lyc8503/sing-box-rules/releases/latest/download/geosite.db",
						"download_detour": "Proxy"
				},
				"rules": [
						{
								"port": 53,关闭Sniff使用
								//"protocol": "dns",开启Sniff使用
								"outbound": "Dns-out"
						},        
						{
								"geoip": "private",
								"outbound": "Direct"
						},
						{
								"domain_keyword": [
										"biligame",
										"bilibiligame"
								],
								"outbound": "Direct"
						},
						{
								"geosite": "telegram",
								"geoip": "telegram",
								"outbound": "Proxy"
						},
						{
								"geosite": "youtube",
								"geoip": "youtube",
								"outbound": "YouTube"
						},

						{
								"geosite": "netflix",
								"geoip": "netflix",
								"outbound": "Netflix"
						},
						{
								"geosite": "bilibili",
								"geoip": "bilibili",
								"outbound": "BiliBili"
						},
						{
								"geosite": "bahamut",
								"geoip": "bahamut",
								"outbound": "Bahamut"
						},
						{
								"geosite": "google",
								"geoip": "google",
								"outbound": "Proxy"
						},
						{
								"geosite": "microsoft",
								"geoip": "microsoft",
								"outbound": "Proxy"
						},
						{
								"geosite": "steam",
								"geoip": "steam",
								"outbound": "Steam"
						},
						{
								"geosite": "openai",
								"geoip": "openai",
								"outbound": "ChatGPT"
						},
						{
								"geosite": "cn",
								"outbound": "Direct"
						},
						{
								"geoip": "cn",
								"outbound": "Direct"
						}
				],
				"final": "Proxy",
				"find_process": true,
				"auto_detect_interface": true
				//"default_interface": "WLAN"
		},
		"experimental": {
				"clash_api": {
						"external_controller": "[::]:5618",
						"secret": "Kztljyjctddl123",
						"external_ui_build_in": true,
						"default_mode": "rule",
						"store_selected": true,
						"cache_file": "cache.db"
				}
		}
}
